In [1]:
import sqlite3
import pandas as pd
import numpy as np
import fastparquet
import os

### Connect to Database and create Cursor

In [2]:
path="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/4_Sqlite/NYC_Yellow_Cab_Tripdata"
# Create Database or if Name is there open Database
connection = sqlite3.connect(path)
# Create Cursor for SQL-Commands
cursor=connection.cursor()

### Get all NOAA Weather Data Entries of Table weather_data

In [3]:
dtypes={"DATE":np.datetime64,"TAVG":np.float16,"TMAX":np.float16,"TMIN":np.float16}
# Give me all data from table weather data
sql = "SELECT * FROM weather_data;"  
df_origin = pd.read_sql_query(sql, connection, index_col="Weather_ID")

In [4]:
df_origin.shape

(2738, 8)

In [5]:
df_origin

                  DATE  TAVG  TMAX  TMIN  WT01  WT11  WT16  WT18
Weather_ID
1           2009-01-01  None  26.0  15.0   NaN   NaN   NaN   NaN
2           2009-01-02  None  34.0  23.0   NaN   NaN   1.0   1.0
3           2009-01-03  None  38.0  29.0   NaN   NaN   NaN   1.0
4           2009-01-04  None  42.0  25.0   NaN   NaN   NaN   NaN
5           2009-01-05  None  43.0  38.0   NaN   NaN   1.0   NaN
6           2009-01-06  None  38.0  31.0   1.0   NaN   1.0   NaN
7           2009-01-07  None  38.0  31.0   1.0   NaN   1.0   NaN
8           2009-01-08  None  38.0  29.0   NaN   NaN   NaN   NaN
9           2009-01-09  None  32.0  26.0   NaN   NaN   NaN   NaN
10          2009-01-10  None  30.0  23.0   1.0   NaN   1.0   1.0
11          2009-01-11  None  31.0  24.0   1.0   NaN   1.0   NaN
12          2009-01-12  None  33.0  21.0   NaN   NaN   NaN   NaN
13          2009-01-13  None  41.0  28.0   NaN   NaN   NaN   NaN
14          2009-01-14  None  36.0  16.0   NaN   NaN   NaN   NaN
15          2009-01-15  None  22.0  15.0   1.0   NaN   1.0   1.0
16          2009-01-16  None  16.0   9.0   NaN   NaN   NaN   NaN
17          2009-01-17  None  22.0   6.0   NaN   NaN   NaN   NaN
18          2009-01-18  None  35.0  22.0   1.0   NaN   1.0   1.0
19          2009-01-19  None  33.0  26.0   1.0   NaN   1.0   1.0
20          2009-01-20  None  29.0  19.0   NaN   NaN   NaN   NaN
21          2009-01-21  None  26.0  17.0   NaN   NaN   NaN   NaN
22          2009-01-22  None  37.0  20.0   NaN   NaN   NaN   NaN
23          2009-01-23  None  47.0  31.0   NaN   NaN   NaN   NaN
24          2009-01-24  None  46.0  17.0   NaN   NaN   NaN   NaN
25          2009-01-25  None  27.0  13.0   NaN   NaN   NaN   NaN
26          2009-01-26  None  29.0  19.0   NaN   NaN   NaN   NaN
27          2009-01-27  None  29.0  25.0   NaN   NaN   NaN   NaN
28          2009-01-28  None  41.0  24.0   1.0   NaN   1.0   1.0
29          2009-01-29  None  36.0  26.0   NaN   NaN   NaN   NaN
30          2009-01-30  None  35.0  26.0   NaN   NaN   1.0   1.0
...                ...   ...   ...   ...   ...   ...   ...   ...
2709        2016-06-01  None  83.0  66.0   NaN   NaN   NaN   NaN
2710        2016-06-02  None  78.0  62.0   NaN   NaN   NaN   NaN
2711        2016-06-03  None  70.0  63.0   1.0   NaN   NaN   NaN
2712        2016-06-04  None  83.0  66.0   1.0   NaN   NaN   NaN
2713        2016-06-05  None  71.0  65.0   1.0   NaN   NaN   NaN
2714        2016-06-06  None  83.0  65.0   1.0   NaN   NaN   NaN
2715        2016-06-07  None  85.0  64.0   NaN   NaN   NaN   NaN
2716        2016-06-08  None  67.0  52.0   1.0   NaN   NaN   NaN
2717        2016-06-09  None  71.0  54.0   NaN   NaN   NaN   NaN
2718        2016-06-10  None  77.0  57.0   NaN   NaN   NaN   NaN
2719        2016-06-11  None  88.0  59.0   NaN   NaN   NaN   NaN
2720        2016-06-12  None  83.0  62.0   NaN   NaN   NaN   NaN
2721        2016-06-13  None  74.0  57.0   NaN   NaN   NaN   NaN
2722        2016-06-14  None  79.0  58.0   NaN   NaN   NaN   NaN
2723        2016-06-15  None  85.0  62.0   NaN   NaN   NaN   NaN
2724        2016-06-16  None  74.0  65.0   1.0   NaN   NaN   NaN
2725        2016-06-17  None  78.0  63.0   NaN   NaN   NaN   NaN
2726        2016-06-18  None  87.0  61.0   NaN   NaN   NaN   NaN
2727        2016-06-19  None  88.0  66.0   NaN   NaN   NaN   NaN
2728        2016-06-20  None  84.0  64.0   NaN   NaN   NaN   NaN
2729        2016-06-21  None  87.0  72.0   NaN   NaN   NaN   NaN
2730        2016-06-22  None  86.0  68.0   NaN   NaN   NaN   NaN
2731        2016-06-23  None  83.0  69.0   NaN   NaN   NaN   NaN
2732        2016-06-24  None  84.0  67.0   NaN   NaN   NaN   NaN
2733        2016-06-25  None  86.0  64.0   NaN   NaN   NaN   NaN
2734        2016-06-26  None  87.0  67.0   NaN   NaN   NaN   NaN
2735        2016-06-27  None  83.0  67.0   1.0   NaN   NaN   NaN
2736        2016-06-28  None  76.0  68.0   1.0   NaN   NaN   NaN
2737        2016-06-29  None  83.0  67.0   1.0   NaN   NaN   NaN
2738        2016-06-30  None  85.0  67.0   NaN   NaN   NaN   NaN

[2738 rows x 8 columns]

In [6]:
df_origin.dtypes

DATE     object
TAVG     object
TMAX    float64
TMIN    float64
WT01    float64
WT11    float64
WT16    float64
WT18    float64
dtype: object

In [7]:
df_origin.describe()

              TMAX         TMIN   WT01  WT11   WT16   WT18
count  2738.000000  2738.000000  803.0   1.0  578.0  107.0
mean     62.827977    48.474434    1.0   1.0    1.0    1.0
std      18.381755    16.737378    0.0   NaN    0.0    0.0
min      15.000000    -1.000000    1.0   1.0    1.0    1.0
25%      48.000000    36.000000    1.0   1.0    1.0    1.0
50%      64.000000    49.000000    1.0   1.0    1.0    1.0
75%      79.000000    63.000000    1.0   1.0    1.0    1.0
max     104.000000    84.000000    1.0   1.0    1.0    1.0

#### Change NAN Values of Weathertype to 0

In [8]:
df_origin["WT01"].fillna(0,inplace=True)
df_origin["WT11"].fillna(0,inplace=True)
df_origin["WT16"].fillna(0,inplace=True)
df_origin["WT18"].fillna(0,inplace=True)

In [9]:
df_origin

                  DATE  TAVG  TMAX  TMIN  WT01  WT11  WT16  WT18
Weather_ID
1           2009-01-01  None  26.0  15.0   0.0   0.0   0.0   0.0
2           2009-01-02  None  34.0  23.0   0.0   0.0   1.0   1.0
3           2009-01-03  None  38.0  29.0   0.0   0.0   0.0   1.0
4           2009-01-04  None  42.0  25.0   0.0   0.0   0.0   0.0
5           2009-01-05  None  43.0  38.0   0.0   0.0   1.0   0.0
6           2009-01-06  None  38.0  31.0   1.0   0.0   1.0   0.0
7           2009-01-07  None  38.0  31.0   1.0   0.0   1.0   0.0
8           2009-01-08  None  38.0  29.0   0.0   0.0   0.0   0.0
9           2009-01-09  None  32.0  26.0   0.0   0.0   0.0   0.0
10          2009-01-10  None  30.0  23.0   1.0   0.0   1.0   1.0
11          2009-01-11  None  31.0  24.0   1.0   0.0   1.0   0.0
12          2009-01-12  None  33.0  21.0   0.0   0.0   0.0   0.0
13          2009-01-13  None  41.0  28.0   0.0   0.0   0.0   0.0
14          2009-01-14  None  36.0  16.0   0.0   0.0   0.0   0.0
15          2009-01-15  None  22.0  15.0   1.0   0.0   1.0   1.0
16          2009-01-16  None  16.0   9.0   0.0   0.0   0.0   0.0
17          2009-01-17  None  22.0   6.0   0.0   0.0   0.0   0.0
18          2009-01-18  None  35.0  22.0   1.0   0.0   1.0   1.0
19          2009-01-19  None  33.0  26.0   1.0   0.0   1.0   1.0
20          2009-01-20  None  29.0  19.0   0.0   0.0   0.0   0.0
21          2009-01-21  None  26.0  17.0   0.0   0.0   0.0   0.0
22          2009-01-22  None  37.0  20.0   0.0   0.0   0.0   0.0
23          2009-01-23  None  47.0  31.0   0.0   0.0   0.0   0.0
24          2009-01-24  None  46.0  17.0   0.0   0.0   0.0   0.0
25          2009-01-25  None  27.0  13.0   0.0   0.0   0.0   0.0
26          2009-01-26  None  29.0  19.0   0.0   0.0   0.0   0.0
27          2009-01-27  None  29.0  25.0   0.0   0.0   0.0   0.0
28          2009-01-28  None  41.0  24.0   1.0   0.0   1.0   1.0
29          2009-01-29  None  36.0  26.0   0.0   0.0   0.0   0.0
30          2009-01-30  None  35.0  26.0   0.0   0.0   1.0   1.0
...                ...   ...   ...   ...   ...   ...   ...   ...
2709        2016-06-01  None  83.0  66.0   0.0   0.0   0.0   0.0
2710        2016-06-02  None  78.0  62.0   0.0   0.0   0.0   0.0
2711        2016-06-03  None  70.0  63.0   1.0   0.0   0.0   0.0
2712        2016-06-04  None  83.0  66.0   1.0   0.0   0.0   0.0
2713        2016-06-05  None  71.0  65.0   1.0   0.0   0.0   0.0
2714        2016-06-06  None  83.0  65.0   1.0   0.0   0.0   0.0
2715        2016-06-07  None  85.0  64.0   0.0   0.0   0.0   0.0
2716        2016-06-08  None  67.0  52.0   1.0   0.0   0.0   0.0
2717        2016-06-09  None  71.0  54.0   0.0   0.0   0.0   0.0
2718        2016-06-10  None  77.0  57.0   0.0   0.0   0.0   0.0
2719        2016-06-11  None  88.0  59.0   0.0   0.0   0.0   0.0
2720        2016-06-12  None  83.0  62.0   0.0   0.0   0.0   0.0
2721        2016-06-13  None  74.0  57.0   0.0   0.0   0.0   0.0
2722        2016-06-14  None  79.0  58.0   0.0   0.0   0.0   0.0
2723        2016-06-15  None  85.0  62.0   0.0   0.0   0.0   0.0
2724        2016-06-16  None  74.0  65.0   1.0   0.0   0.0   0.0
2725        2016-06-17  None  78.0  63.0   0.0   0.0   0.0   0.0
2726        2016-06-18  None  87.0  61.0   0.0   0.0   0.0   0.0
2727        2016-06-19  None  88.0  66.0   0.0   0.0   0.0   0.0
2728        2016-06-20  None  84.0  64.0   0.0   0.0   0.0   0.0
2729        2016-06-21  None  87.0  72.0   0.0   0.0   0.0   0.0
2730        2016-06-22  None  86.0  68.0   0.0   0.0   0.0   0.0
2731        2016-06-23  None  83.0  69.0   0.0   0.0   0.0   0.0
2732        2016-06-24  None  84.0  67.0   0.0   0.0   0.0   0.0
2733        2016-06-25  None  86.0  64.0   0.0   0.0   0.0   0.0
2734        2016-06-26  None  87.0  67.0   0.0   0.0   0.0   0.0
2735        2016-06-27  None  83.0  67.0   1.0   0.0   0.0   0.0
2736        2016-06-28  None  76.0  68.0   1.0   0.0   0.0   0.0
2737        2016-06-29  None  83.0  67.0   1.0   0.0   0.0   0.0
2738        2016-06-30  None  85.0  67.0   0.0   0.0   0.0   0.0

[2738 rows x 8 columns]

In [10]:
df_origin["WT01"]=df_origin["WT01"].astype("uint8")
df_origin["WT11"]=df_origin["WT11"].astype("uint8")
df_origin["WT16"]=df_origin["WT16"].astype("uint8")
df_origin["WT18"]=df_origin["WT18"].astype("uint8")

In [11]:
df_origin.dtypes

DATE     object
TAVG     object
TMAX    float64
TMIN    float64
WT01      uint8
WT11      uint8
WT16      uint8
WT18      uint8
dtype: object

In [12]:
# Convert to csv File for Exloration
# Set Path for Csv File
path="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/5_Dataset_for_Exploration/Exploration_Weather_Data.csv"
df_origin.to_csv(path,index=False)