In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import fastparquet
import os
import plotly.express as px
from plotly.offline import iplot
%matplotlib inline

### Read the Parquet File for Data Exploration

In [2]:
path="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/5_Dataset_for_Exploration/Exploration_Tripdata_2m.parquet"
# Testing the Parquet Files
df=pd.read_parquet(path=path,engine="fastparquet")
df

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-06-04 22:02:56,2009-06-04 22:11:56,2,2.099609,-73.983757,40.743824,0,-73.962143,40.765209,8.101562
1,2009-06-06 22:02:00,2009-06-06 22:30:00,1,4.078125,-73.976387,40.763893,0,-74.003380,40.734158,16.093750
2,2009-06-19 17:01:00,2009-06-19 17:09:00,3,0.799805,-73.973450,40.763992,0,-73.982124,40.756065,5.699219
3,2009-01-18 19:47:30,2009-01-18 19:53:35,2,2.199219,-73.956551,40.771511,0,-73.976868,40.743328,7.398438
4,2009-07-13 09:27:47,2009-07-13 09:39:49,1,1.299805,-73.987587,40.770531,0,-73.982986,40.758152,7.699219
5,2009-09-15 18:12:00,2009-09-15 18:29:00,1,2.589844,-73.985863,40.741444,0,-73.966316,40.773003,10.898438
6,2009-05-02 20:56:00,2009-05-02 21:06:00,1,2.369141,-73.986504,40.778904,0,-73.964706,40.806805,8.898438
7,2009-02-14 05:55:48,2009-02-14 06:02:13,1,2.800781,-73.994293,40.690109,0,-74.007790,40.714977,9.000000
8,2009-07-24 22:29:05,2009-07-24 22:49:13,1,4.398438,-73.966644,40.803864,0,-73.991371,40.752869,14.500000
9,2009-03-18 09:21:59,2009-03-18 09:39:36,1,3.000000,-73.959396,40.777058,0,-73.984779,40.742172,11.703125
10,2009-05-12 19:06:29,2009-05-12 19:12:06,4,1.000000,-74.000648,40.727222,0,-73.985931,40.729492,5.300781
11,2009-10-06 08:35:34,2009-10-06 08:57:34,1,3.900391,-73.972038,40.753948,0,-74.000870,40.714592,14.101562
12,2009-08-04 15:23:00,2009-08-04 15:36:00,1,1.629883,0.000000,0.000000,0,0.000000,0.000000,8.101562
13,2009-04-09 01:00:00,2009-04-09 01:08:00,1,3.070312,-73.977264,40.751785,0,-73.970482,40.786671,8.898438
14,2009-04-23 08:04:00,2009-04-23 08:30:00,1,6.210938,-73.984161,40.758366,0,-74.007034,40.706963,18.093750
15,2009-11-26 01:33:00,2009-11-26 01:40:00,3,2.169922,-73.937485,40.804089,0,-73.951912,40.777992,6.898438
16,2009-05-04 20:44:00,2009-05-04 20:54:00,5,1.299805,-73.983765,40.758972,0,-73.966202,40.753780,6.898438
17,2009-03-10 20:38:46,2009-03-10 20:47:22,2,1.500000,-73.980995,40.742241,0,-73.964638,40.755890,7.398438
18,2009-01-09 12:33:00,2009-01-09 12:56:00,5,8.187500,-73.954681,40.789333,0,-74.007004,40.705563,22.093750
19,2009-10-11 09:48:46,2009-10-11 09:50:27,1,0.500000,-73.961243,40.811996,0,-73.965897,40.805683,3.699219
20,2009-06-04 09:44:00,2009-06-04 10:05:00,3,3.800781,-73.965767,40.805607,0,-73.974297,40.763573,14.500000
21,2009-10-31 21:38:00,2009-10-31 21:53:00,2,2.849609,-73.983429,40.765358,0,-73.949158,40.773018,10.500000
22,2009-06-21 17:29:58,2009-06-21 17:57:04,3,5.398438,-74.016808,40.704796,0,-73.985710,40.759083,17.703125
23,2009-06-29 11:00:15,2009-06-29 11:04:12,1,0.700195,-73.952141,40.789848,0,-73.944443,40.787937,4.500000
24,2009-11-04 13:09:00,2009-11-04 13:15:00,5,0.459961,-73.994507,40.750851,0,-73.990250,40.756371,4.500000
25,2009-04-30 00:01:03,2009-04-30 00:11:37,2,1.799805,-73.983543,40.757313,0,-73.980659,40.741745,7.699219
26,2009-05-15 17:26:00,2009-05-15 17:45:00,5,1.849609,-73.978165,40.753494,0,-73.958725,40.767117,10.898438
27,2009-07-17 12:06:00,2009-07-17 12:27:00,2,3.029297,-73.982048,40.769791,0,-73.982094,40.742939,12.898438
28,2009-03-16 00:51:00,2009-03-16 01:06:00,5,3.029297,-73.991531,40.726967,0,-74.003555,40.748413,10.898438
29,2009-07-31 06:28:02,2009-07-31 06:37:20,1,2.199219,0.000000,0.000000,0,0.000000,0.000000,8.101562
...,...,...,...,...,...,...,...,...,...,...
1999970,2016-06-17 08:35:28,2016-06-17 08:45:42,1,2.429688,-73.896431,40.636162,1,-73.870949,40.661171,9.500000
1999971,2016-02-18 16:28:06,2016-02-18 16:34:29,1,0.899902,-73.999825,40.721825,1,-74.006149,40.711926,6.000000
1999972,2016-03-17 10:02:07,2016-03-17 10:25:32,5,2.119141,-73.970711,40.758259,1,-73.992363,40.737839,15.000000
1999973,2016-04-04 22:11:20,2016-04-04 22:27:14,1,8.976562,-73.985382,40.768372,1,-73.918716,40.871338,26.000000
1999974,2016-06-12 09:52:49,2016-06-12 10:07:40,1,3.099609,-73.992020,40.750191,1,-73.961052,40.767155,12.500000
1999975,2016-05-11 15:44:14,2016-05-11 16:43:19,1,14.703125,-73.972794,40.749596,2,-73.786713,40.645004,52.000000
1999976,2016-05-26 14:28:46,2016-05-26 14:44:20,2,1.809570,-73.982910,40.760262,1,-73.996193,40.738762,11.000000
1999977,2016-05-18 15:56:43,2016-05-18 16:10:12,2,1.700195,-73.979187,40.785107,1,-73.956665,40.784229,10.000000
1999978,2016-02-23 21:24:56,2016-02-23 21:45:06,1,9.898438,-73.872780,40.774231,1,-73.986580,40.730259,28.500000
1999979,2016-02-15 12:05:50,2016-02-15 12:09:16,1,0.459961,-73.977631,40.788742,1,-73.971657,40.787296,4.000000
1999980,2016-01-12 15:18:13,2016-01-12 15:22:33,3,0.500000,-73.994637,40.760860,1,-73.985329,40.757259,4.500000
1999981,2016-01-01 03:27:40,2016-01-01 03:41:49,5,3.490234,-74.007729,40.725761,1,-73.974319,40.687252,13.500000
1999982,2016-03-13 09:47:03,2016-03-13 09:55:08,1,1.500000,-73.991661,40.749828,1,-73.983788,40.767052,8.000000
1999983,2016-03-15 08:14:22,2016-03-15 08:33:29,1,4.410156,-73.978790,40.740959,1,-74.013741,40.702339,18.500000
1999984,2016-05-10 20:04:14,2016-05-10 20:16:19,3,1.230469,-73.975403,40.761967,1,-73.978706,40.747898,9.000000
1999985,2016-03-03 18:24:19,2016-03-03 19:04:39,5,9.273438,-73.981323,40.679779,1,-73.971390,40.765362,31.500000
1999986,2016-06-02 16:52:58,2016-06-02 17:12:45,2,2.080078,-73.981750,40.757584,1,-73.979790,40.781078,13.500000
1999987,2016-04-22 17:07:48,2016-04-22 17:28:01,4,1.000000,-74.007858,40.739429,1,-74.009987,40.726910,12.500000
1999988,2016-03-16 11:44:29,2016-03-16 11:48:16,2,0.589844,-74.009758,40.721981,1,-74.003960,40.725529,4.500000
1999989,2016-06-11 02:19:47,2016-06-11 02:25:16,1,0.939941,-73.988983,40.726921,1,-73.985260,40.733421,6.000000
1999990,2016-04-27 19:27:42,2016-04-27 19:30:02,1,0.399902,-73.958878,40.780861,1,-73.954468,40.786987,4.000000
1999991,2016-03-27 15:25:32,2016-03-27 15:32:15,1,1.000000,-73.984924,40.729866,1,-73.988686,40.720207,6.500000
1999992,2016-03-17 20:32:18,2016-03-17 20:37:25,2,0.890137,-73.991447,40.750141,1,-74.002167,40.755669,5.500000
1999993,2016-03-31 02:11:18,2016-03-31 02:26:51,1,11.101562,-73.998665,40.764145,5,-73.995262,40.887817,0.000000
1999994,2016-06-11 02:54:04,2016-06-11 03:05:56,1,4.699219,-73.988068,40.722664,1,-73.986412,40.689709,15.500000
1999995,2016-05-21 09:10:29,2016-05-21 09:40:24,1,4.679688,-73.980209,40.668598,1,-73.942833,40.656132,21.000000
1999996,2016-05-12 10:57:55,2016-05-12 11:03:46,1,1.200195,-73.990356,40.751724,1,-74.003441,40.750725,6.000000
1999997,2016-01-08 07:22:38,2016-01-08 07:24:56,1,0.300049,-73.958305,40.769691,1,-73.953728,40.766666,3.500000
1999998,2016-03-25 20:39:06,2016-03-25 20:46:40,1,1.299805,-73.945122,40.808140,1,-73.944191,40.821312,7.000000
1999999,2016-02-27 16:07:18,2016-02-27 16:47:06,1,7.558594,-73.970619,40.796532,1,-73.904678,40.857319,28.500000

In [3]:
#extract Year from Datetime Object
df["Pickup_Year"]=df["Pickup_DateTime"].dt.year

In [4]:
df.loc[(df["Pickup_Year"]==2009),["RateCodeID"]]=np.NaN

In [5]:
df.describe()

,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt,Pickup_Year
count,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,1.750000e+06,1.999989e+06,1.999989e+06,2.000000e+06,2.000000e+06
mean,1.681454e+00,inf,-7.257114e+01,3.996286e+01,1.038405e+00,-7.259656e+01,3.997035e+01,inf,2.012500e+03
std,1.333940e+00,NaN,1.297025e+01,1.086378e+01,5.888300e-01,1.306104e+01,1.079283e+01,NaN,2.291288e+00
min,0.000000e+00,0.000000e+00,-3.358101e+03,-3.114292e+03,0.000000e+00,-3.386093e+03,-3.486646e+03,-1.000000e+02,2.009000e+03
25%,1.000000e+00,1.009766e+00,-7.399204e+01,4.073508e+01,1.000000e+00,-7.399136e+01,4.073408e+01,6.101562e+00,2.010750e+03
50%,1.000000e+00,1.730469e+00,-7.398177e+01,4.075269e+01,1.000000e+00,-7.398006e+01,4.075323e+01,8.500000e+00,2.012500e+03
75%,2.000000e+00,3.169922e+00,-7.396697e+01,4.076724e+01,1.000000e+00,-7.396339e+01,4.076828e+01,1.300000e+01,2.014250e+03
max,2.080000e+02,inf,3.380714e+03,3.351468e+03,2.100000e+02,2.443999e+03,3.351468e+03,inf,2.016000e+03

In [6]:
# How many Percent of RateCodeID are NaN
(len(df.loc[df["RateCodeID"].isnull()])/len(df))*100

12.5

In [7]:
df.isnull().sum()

Pickup_DateTime          0
Dropoff_DateTime         0
Passenger_Count          0
Trip_Distance            0
Pickup_Lon               0
Pickup_Lat               0
RateCodeID          250000
Dropoff_Lon             11
Dropoff_Lat             11
Fare_Amt                 0
Pickup_Year              0
dtype: int64

In [8]:
(len(df.loc[df["Dropoff_Lon"].isna()])+len(df.loc[df["Dropoff_Lat"].isna()]))/len(df)*100

0.0011